body{
  background-color:#EAF6F6;
}
hr{
  border-style:dotted none none;
  border-width: 5px;
  border-color: grey;
  height:0;
  width:5%;
}
h1{
  color:#F94892;
  font-family: serif;
}
h3{
  color:#F94892;
}
